.app-container {
  max-width: 780px;
  padding: 48px;
}

.app-progress {
  margin-top: 32px;
  padding-top: 24px;
}

.app-progress-bar {
  margin-top: 12px;
}

.title {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}

.title h2 {
  font-size: 28px;
  margin-bottom: 2px;
}

.title-icon {
  font-size: 24px;
  margin-right: 12px;
  color: #6e757c;
}

.input-sm {
  max-width: 184px;
}